@layer base {
  input,
  textarea,
  select {
    @apply transition-all duration-150;
  }

  input:focus-visible,
  textarea:focus-visible,
  select:focus-visible {
    @apply ring-primary ring-2 ring-offset-2;
  }

  button {
    @apply transition-all duration-150;
  }

  button:active {
    @apply scale-[0.98];
  }
}
